<div class="modal">
<form class="form">
  <div class="credit-card-info--form">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="judicial">法院分類</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select>
            <nz-option nzValue="1" nzLabel="最高法院"></nz-option>
            <nz-option nzValue="2" nzLabel="最高行政法院"></nz-option>
            <nz-option nzValue="3" nzLabel="高等法院"></nz-option>
            <nz-option nzValue="4" nzLabel="高等行政法院"></nz-option>
            <nz-option nzValue="5" nzLabel="專業法院"></nz-option>
            <nz-option nzValue="6" nzLabel="地方法院"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="input_container">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="judicial">高等法院</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select>
            <nz-option nzValue="1" nzLabel="最高法院"
              *ngFor="let item of highJudicial" [nzValue]="item.id" [nzLabel]="item.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
    </div>
    <div class="input_container">
      <label for="password_field" class="input_label">Expiry Date / CVV</label>
      <div class="split">
        <input id="password_field" class="input_field" type="text" name="input-name" title="Expiry Date" placeholder="01/23">
        <input id="password_field" class="input_field" type="number" name="cvv" title="CVV" placeholder="CVV">
      </div>
    </div>
  </div>
    <button class="purchase--btn">Checkout</button>
</form>
</div>
