<div class="div">
  <div class="modal">
    <form class="form" [formGroup]="form">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="16" [nzLg]="18" [nzXl]="24" [nzMd]="20"
              nzRequired nzFor="type">
              法院分類
            </nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzLg]="18" [nzXl]="24" [nzMd]="20">
              <nz-select formControlName="type" (ngModelChange)="typeChange($event)">
                <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of judicial.type">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div *ngFor="let courtType of courtTypes" nz-col nzSpan="24" >
          <div *ngIf="form.get('type')?.value === courtType.value">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="16" [nzLg]="18" [nzXl]="24" [nzMd]="20"
                nzRequired [nzFor]="courtType.value">
                {{ courtType.label }}
              </nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzLg]="18" [nzXl]="24" [nzMd]="20">
                <nz-select [formControlName]="courtType.value">
                  <nz-option *ngFor="let item of judicial[courtType.value]"
                    [nzValue]="item.id" [nzLabel]="item.name">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="16" [nzLg]="18" [nzXl]="24" [nzMd]="20"
              nzFor="url" nzRequired>
              網址
            </nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzLg]="18" [nzXl]="24" [nzMd]="20">
              <nz-input-group [nzSuffix]="inputClearTp">
                <input type="text" nz-input formControlName="url" placeholder="請輸入網址"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <ng-template #inputClearTp>
            <span
              *ngIf="this.form.get('url')?.value"
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              (click)="setUrl('')"
            ></span>
          </ng-template>
        </div>
      </div>
      <div nz-col nzSpan="24" class="buttonDiv">
        <button nz-button>解析</button>
      </div>
    </form>
  </div>
</div>
