.formDiv{
  display: flex;
  justify-content: space-between;
}

.editImg{
  vertical-align: text-bottom;
}

.deleteImg{
  vertical-align: top;
}

.header-container {
  padding: 16px;
}

.right-section {
  display: flex;
  gap: 10px;
}

.search-form {
  margin-bottom: 0;
}
