.buttonDiv{
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.formDiv{
  display: flex;
  justify-content: space-between;
}

.editImg{
  vertical-align: text-bottom;
}

.deleteImg{
  vertical-align: top;
}
