<div nz-row nzJustify="space-between" class="header-container">
  <div nz-col>
    <button nz-button nzType="primary" (click)="deleteFile(true)"
      [disabled]="(!checked || indeterminate) && (checked || !indeterminate)">
      刪除已勾選檔案
    </button>
  </div>

  <div nz-col class="right-section">
    <form nz-form [formGroup]="form" class="search-form">
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <nz-input-group nzPrefixIcon="search" [nzSuffix]="inputClearTp">
            <input formControlName="search" nz-input
                   placeholder="請輸入關鍵字" (keypress)="searchList($event)"/>
          </nz-input-group>
          <ng-template #inputClearTp>
            <span
              *ngIf="form.get('search')?.value"
              nz-icon class="ant-input-clear-icon"
              nzTheme="fill" nzType="close-circle"
              (click)="form.get('search')?.setValue('')">
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
    <button nz-button nzType="primary" (click)="openModal(false)">
      <nz-icon nzType="plus" nzTheme="outline" />新增檔案
    </button>
  </div>
</div>

<nz-table #filterTable [nzData]="displayedList" [nzTotal]="total"
          [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
          [nzShowTotal]="totalTemplate" nzShowSizeChanger>
<ng-template #totalTemplate let-total>總共 {{ total }} 筆</ng-template>
  <thead>
    <tr>
      <th
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        [nzDisabled]="displayedList.length === 0"
        (nzCheckedChange)="onAllChecked($event)">
      </th>
      <th *ngFor="let column of Columns"
          [nzWidth]="column.width"
          [nzAlign]="column.position"
          [nzSortFn]="column.sortFn"
          [nzSortOrder]="column.sortOrder"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          [nzShowFilter]="column.showFilter"
          [nzShowSort]="column.showSort">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td
        [nzChecked]="data.checked"
        [nzLabel]="data.name"
        (nzCheckedChange)="onItemChecked($event, data.id)">
      </td>
      <td nzBreakWord>
        {{ data.name }}
      </td>
      <td nzAlign="center">
        {{ data.createDate }}
      </td>
      <td nzAlign="center">
        {{ data.lastUpdate }}
      </td>
      <td nzAlign="center">
        {{ data.done ? '是' : '否' }}
      </td>
      <td nzAlign="center">
        <a title="下載">
          <img src="download.svg" alt="下載">
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a title="編輯" (click)="openModal(true, data)">
          <img src="edit.svg" alt="編輯" class="editImg" height="20px" width="20px">
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a title="刪除" (click)="deleteFile(false, data.id)">
          <img src="delete.svg" alt="刪除" class="deleteImg">
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

