<div nz-col nzSpan="24" class="buttonDiv">
  <div nz-col [nzSpan]="6">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control [nzSpan]="16">
          <nz-input-group nzSuffixIcon="search">
            <input formControlName="search" nz-input placeholder="請輸入關鍵字"
              (keypress)="searchList($event)"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <button nz-button nzType="primary" (click)="openModal()">
    新增檔案
  </button>
</div>
<nz-table #filterTable [nzData]="displayedList" [nzTotal]="total"
          [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
          [nzShowTotal]="totalTemplate" nzShowSizeChanger>
          <ng-template #totalTemplate let-total>總共 {{ total }} 筆</ng-template>
  <thead>
    <tr>
      <th *ngFor="let column of Columns"
          [nzWidth]="column.width"
          [nzAlign]="column.position"
          [nzSortFn]="column.sortFn"
          [nzSortOrder]="column.sortOrder"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          [nzShowFilter]="column.showFilter"
          [nzShowSort]="column.showSort">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td nzBreakWord>
        {{ data.name || '--' }}
      </td>
      <td>
        {{ data.createDate }}
      </td>
      <td>
        {{ data.lastUpdate }}
      </td>
      <td nzAlign="center">
        {{ data.done ? '是' : '否' }}
      </td>
      <td nzAlign="center">
        <a title="下載">
          <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="#000000" style="vertical-align: middle;">
            <path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/>
          </svg>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a title="刪除" (click)="deleteFile(data.id)">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000" style="vertical-align: middle;">
            <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
          </svg>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

